*{
    margin: 0px auto;
    box-sizing: border-box;
}
.container{
    margin: 0px auto;
    max-width: 985px;
}
.nav{
    background-color: gray;
    padding: 25px 10px;
    position: relative;
    float: left;
    width: 100%;
    height: auto;

}
.nav ul {
    list-style-type: none;
}
.nav ul li{
    list-style: none;
    float: left;
    width: 150px;

}
.nav ul li a{
    text-decoration: none;
    color: white;
    display: block;
    text-align: center;
    padding: 16px 8px;
    border: 1px solid black;
    transition: 1s;
}
.nav ul li a:hover{
        background-color: red;
        color: white;
}

.div-one{
    float: left;
    height: 300px;
    width: 300px;
    background-color: black;
    margin: 50px;
    border-radius: 50%;
}

.div-two{
    float: left;
    height: 150px;
    width: 300px;
    background-color: red;
    border-radius: 150px 150px 0px 0px;
    margin: 87px;
}
.div-three{
    float: left;
    height: 150px;
    width: 300px;
    background-color: red;
    border-radius: 0px 0px 150px 150px;
    margin: 87px;
}
.div-four{
    float: left;
    width: 400px;
    height: 300px;
    background-color: red;
    transition-duration: 1s;
    background-image: url("../img/billi.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transform: skew(30deg);
}
.div-four:hover{
    /*transform: rotateY(360deg);*/

}
.wrapper{
    float: left;
    width: 100%;
    height: 500px;
    padding: 20px;
    margin: 20px;
    border: 1px solid darkslategray;
}
.div-five, .div-six{
    height: 300px;
    width: 300px;
    float: left;
    background-color:  lightgrey;
    margin: 20px;
    box-sizing: border-box;
}
.div-five{
    transform: skewY(30deg);
}
.div-six{
    transform: skewY(-30deg);
}
.div-seven, .div-eight{
    float: left;
    height: 300px;
    width: 350px;
    background-color: darkslategray;
    margin: 20px;
}
.div-seven{
    background: linear-gradient(to left,red,green,skyblue,deeppink);
}
.div-eight{
    background: radial-gradient(black,green);
}